<% provide :title, "#{@story.title}" %>


<h1>Fiction Gun</h1>

<h2>A collaborative online writing space</h2>

<table>
  <tr>
    <td>Title</td>
    <td>Text</td>
    <td>Contributor</td>
    <td>Genre</td>
  </tr>
  <tr>
    <td><%= @story.title %></td>
    <td><%= @story.text %></td>
    <td><%= @story.contributor_id %></td>
    <td><%= @story.genre_id %></td>
  </tr>
</table>

<p><%= link_to 'Home', stories_path %></p>