<% provide :title, "Edit Account" %>

<h3><%= yield :title %></h3>

<% if @user.errors.any? %>
  <div class="alert alert-error">
    <h4>Please correct these problems:</h4>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :pen_name %>
  <%= f.text_field :pen_name %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  <%= f.submit :class => 'btn btn-primary' %>
<% end %>