<% provide :title, "#{@user.pen_name}'s Profile" %>

<table class="table">
  <tr><td><b>Pen Name:</b></td><td><%= @user.pen_name %></td></tr>
  <tr><td><b>Email:</b></td><td><%= @user.email %></td></tr>
  <tr><td><b>Member Since:</b></td><td><%= @user.created_at.localtime.strftime("%x") %></td></tr>
</table>

<table class="table">
  <tr>
    <td>Title</td>
    <td>Text</td>
    <td>Genre</td>
    <td></td>
    <td></td>
  </tr>
  <% @user.stories.each do |story| %>
    <tr>
      <td><%= link_to story.title, story_path(story.id), :method => :get %></td>
      <td><%= story.text %></td>
      <td><%= story.genre_id %></td>
      <% if current_user.id == @user.id %>
        <td><%= link_to 'Edit', edit_story_path(story), :class => 'btn btn-primary' %></td>
        <td><%= link_to 'Delete', story, :class => 'btn btn-primary', :method => :delete, :data => { :confirm => 'Are you sure?' }  %></td>
      <% end %>
    </tr>
  <% end %>
</table>