<% if @story.errors.any? %>
  <div class="alert alert-error">
    <h3>Not saved. Please correct these problems:</h3>
    <ul>
      <% @story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    <ul>
  </div>
<% end %>  

<%= form_for @story do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
      <div class="control-group">
          <label class="control-label">Genre</label>
          <div class="controls">
            <%= f.collection_select(:genre_id, @genres, :id, :name) %>
          </div>
        </div>
  <%= f.label :text %>
  <%= f.text_area :text, :size => "160x16", :maxlength => 5000 %>
  <%= f.submit :class => 'btn btn-primary' %>
<% end %>