<h1>Listing simple_prompts</h1>

<table>
  <tr>
    <th>Text</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @simple_prompts.each do |simple_prompt| %>
  <tr>
    <td><%= simple_prompt.text %></td>
    <td><%= simple_prompt.user_id %></td>
    <td><%= link_to 'Show', simple_prompt %></td>
    <td><%= link_to 'Edit', edit_simple_prompt_path(simple_prompt) %></td>
    <td><%= link_to 'Destroy', simple_prompt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Simple prompt', new_simple_prompt_path %>
