<header id="page_header" role="banner">
  <nav id="utility">
    <p>
      You are logged in as <strong>Sam Spade</strong>
      <%= link_to "[Your Account]", "#" %>
      <%= link_to "[Logout]", "#" %>
    </p>
  </nav>
  <%= link_to(
        image_tag("logo.png",
                    alt: "Artflow",
                    id: "logo"),
        root_url,
        title: "Dashboard") %>
  <nav id="main_nav" role="navigation">
    <ul>
      <li><%= link_to 'Genres', genres_path %></li>
      <li><%= link_to 'Prompts', simple_prompts_path %></li>
      <li><%= link_to 'Stories', stories_path %></li>
      <li><%= link_to 'Users', users_path %></li>
    </ul>
  </nav>


</header>
