<!DOCTYPE html>
<head>
  <title>Fiction Gun | <%= yield :title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <% if flash[:notice] %>
      <div class="alert alert-info"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-error"><%= flash[:alert] %></div>
    <% end %>
    <div style="text-align:right;padding:10px">
      <% if current_user %>
        Logged in as <b><%= current_user.pen_name %></b>.
        <%= link_to "My Profile", user_path(current_user.id), method: "get", :class => 'btn btn-primary' %>
        <%= link_to "Log Out", logout_path, method: "delete", :class => 'btn btn-primary' %>
        <%= link_to "Edit Account", edit_user_path(current_user.id), method: "get", :class => 'btn btn-primary' %>
        <%= link_to "Delete Account", user_path(current_user.id), method: "delete", :class => 'btn btn-small btn-danger' %>
      <% else %>
        <%= link_to "Sign Up", signup_path, :class => 'btn btn-primary' %> or
        <%= link_to "Log In", login_path, :class => 'btn btn-primary' %>
      <% end %>
    </div>
    <%= yield %>
  </div>

</body>
</html>
